@using MvcApplication3.Controllers;
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8" />
    <meta name='yandex-verification' content='423620bf1c4c60f8' />

    <title>Натяжные потолки Мурманск - &#171;Облако&#187</title>
    <meta name="description" content="Наша компания предлагает натяжные потолки для офисных и жилых помещений из пленки ведущих мировых производителей!">
    <meta name="keywords" content="натяжные потолки, натяжные потолки Мурманск, натяжные потолки облако, натяжные потолки небо, натяжной потолок небо с облаками, натяжной потолок звездное небо, потолки натяжные фотопечать облака, натяжные потолки облака фото, натяжной потолок облака цена">

    <link rel="icon" href="/Content/themes/ictec/images/favicon.ico" type="image/ico" />
    <link rel="stylesheet" type="text/css" media="all" href="/Content/themes/ictec/style.css" />
    
    <script type='text/javascript' src='/Content/themes/ictec/scripts/jquery-1.9.1.min.js'></script>

    <script src="/Content/themes/ictec/scripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="/Content/themes/ictec/scripts/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/themes/ictec/scripts/ictec.js"></script>
    <script type="text/javascript" src="/Content/themes/ictec/scripts/measurement.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="/Content/themes/ictec/bootstrap.min.css" />
    <script type="text/javascript" src="/Content/themes/ictec/scripts/bootstrap.min.js"></script>
        
    <link rel="stylesheet" type="text/css" href="/Content/themes/ictec/scripts/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Content/themes/ictec/scripts/slick/slick-theme.css" />
    <script type="text/javascript" src="/Content/themes/ictec/scripts/slick/slick.min.js"></script>

</head>
<body id="ICTec" class="home page page-id-2 page-template page-template-home-php">
    <div class="wrap">
        <div class="snack">
            <div class="content_wrap">
                <div class="banner" style="background:  url(/Content/themes/ictec/images/sidebar.png) 0 0 repeat; height:80px;">
                    <div class="container">
                        <div class="logocol col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <a href="/"><img src="/Content/themes/ictec/images/evrostroy.png" style="height:80px;" alt="" /></a>
                        </div>
                        <div class="phonecol col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right text-center-mob" style="">
                            <span class="phone" style="width: 335px; padding-top:7px; float:right; ">
                                @*<span class="description" style="color:white;">&nbsp;</span>*@
                                <span class="number" style="color: white;">+7 (8152) 44-20-25</span>
                                @*<span class="number">+7 (8152) 78-09-09&nbsp;</span>*@
                                <span style="color: white; font-size: 14px; line-height: 38px; font-weight: bold;">Мурманск, ул. Буркова, 11/18</span>
                            </span>
                        </div>
                    </div>
                </div>
                                
                @{
                    var CurrentPage = Pages.Ceilings;
                    string path = ((((System.Web.Mvc.ControllerContext)(ViewContext)).RequestContext.HttpContext).Request).Path;
                    if (path.ToLower().Contains("home/index"))
                    {
                        CurrentPage = Pages.Main;
                    }
                    else if (path.ToLower().Contains("price"))
                    {
                        CurrentPage = Pages.Price;
                    }
                    else if (path.ToLower().Contains("dealers"))
                    {
                        CurrentPage = Pages.Dealers;
                    }
                    else if (path.ToLower().Contains("blinds"))
                    {
                        CurrentPage = Pages.Blinds;
                    }
                    else if (path.ToLower().Contains("rollets"))
                    {
                        CurrentPage = Pages.Rollets;
                    }
                    else if (path.ToLower().Contains("pictures") || path.ToLower().Contains("videos"))
                    {
                        CurrentPage = Pages.Pictures;
                    }
                    else if (path.ToLower().Contains("blog"))
                    {
                        CurrentPage = Pages.Blog;
                    }
                    else if (path.ToLower().Contains("lights"))
                    {
                        CurrentPage = Pages.Lights;
                    }
                }

                @Html.Partial("HeaderBanner", CurrentPage)
                @*<div class="banner" style="background-color: red !important; background: radial-gradient(90% 1000%, red, black) !important; padding-left: 150px; height: 5px; background-image: none;">
                </div>*@
                <nav class="navbar navbar-default" style="margin-left: auto; margin-right: auto; ">
                    @*Контейнер (определяет ширину Navbar)*@
                    <div class="container-fluid">
                        @*Заголовок*@
                        <div class="navbar-header">
                            <style>
                                .navbar-brand {
                                    background-color: #52a2b6;
                                    display: none;
                                }
                                .navbar-brand:hover {
                                    background-color: #337ab7 !important;
                                }
                            </style>
                            <a class="navbar-brand" href='https://vk.com/natyaznie_potolki_murmansk?w=app5708398_-32864631' target='_blank' style="color: white;">ЗАПИСАТЬСЯ НА ЗАМЕР</a>
                            @*Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar)*@
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <style>
                            #navbar-main > ul {
                                margin: 0 auto;
                                display: table;
                                table-layout: fixed;
                                float: none;
                            }
                        </style>
                        @*Основная часть меню (может содержать ссылки, формы и другие элементы)*@
                        <div class="collapse navbar-collapse" id="navbar-main">

                            <ul class="nav navbar-nav">
                                <li class="@((CurrentPage == Pages.Main) ? "active" : "")"><a href="/Home/Index">ОБЛАКО</a></li>
                                <li class="@((CurrentPage == Pages.Ceilings) ? "active" : "")"><a href="/Ceilings">НАТЯЖНЫЕ ПОТОЛКИ</a></li>
                                <li class="@((CurrentPage == Pages.Blinds) ? "active" : "")"><a href="/Blinds">ЖАЛЮЗИ</a></li>
                                <li class="@((CurrentPage == Pages.Rollets) ? "active" : "")"><a href="/Rollets">РОЛЛЕТЫ И ВОРОТА</a></li>
                                <li class="@((CurrentPage == Pages.Lights) ? "active" : "")"><a href="/Lights">СВЕТИЛЬНИКИ И ГАРДИНЫ</a></li>
                                <li class="@((CurrentPage == Pages.Pictures) ? "active" : "") dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ФОТО <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Pictures">ЖИЛЫЕ ПОМЕЩЕНИЯ</a></li>
                                        <li><a href="/Pictures_public">ОБЩЕСТВЕННЫЕ</a></li>
                                        <li><a href="/Pictures_company">О КОМПАНИИ</a></li>
                                        <li><a href="/Videos">ВИДЕО</a></li>
                                    </ul>
                                </li>
                                <li class="@((CurrentPage == Pages.Price) ? "active" : "")"><a href="/Price">ЦЕНЫ</a></li>
                                <li class="@((CurrentPage == Pages.Dealers) ? "active" : "")"><a href="/Dealers">ДИЛЕРАМ</a></li>
                                <li class="@((CurrentPage == Pages.Blog) ? "active" : "")"><a href="/Blog">БЛОГ</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                @RenderBody()

                <div class="container" style="padding-bottom:15px; padding-top:25px;">
                    <div style="float: left; text-align: center; margin-bottom: 10px;" class="col-sm-4 col-xs-12">
                        <a href="https://www.vk.com/zhalyuzi_murmansk" target="_blank" style="display: inline; margin: 0 5px 0 0; padding: 0;">
                            <img src="/Content/themes/ictec/images/logo_vk.png" alt="Официальная группа Вконтакте" title="Официальная группа Вконтакте" width="40" />
                        </a>
                        <a href="https://www.youtube.com/user/potolkievrostroi" target="_blank" style="display: inline; margin: 0 0 0 5px; padding: 0; ">
                            <img src="/Content/themes/ictec/images/youtube_logo.png" alt="Канал Youtube" title="Канал Youtube" width="40" />
                        </a>
                        <a href="https://www.instagram.com/oblako_51/" target="_blank" style="display: inline; margin: 0 0 0 5px; padding: 0; ">
                            <img src="/Content/themes/ictec/images/logo_instagram.png" alt="Instagram" title="Instagram" width="40" />
                        </a>
                    </div>
                    <div class="col-sm-4" style="text-align:center; margin-bottom:10px;">
                        <strong>
                            <span style="width:100%;">+7 (8152) 44-20-25</span><br/>
                            <span style="width:100%;"><a href="mailto:oblako-51@yandex.ru">oblako-51@yandex.ru</a></span>
                        </strong>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-right cprght" style="float:right;">
                        <p>
                            Завод "Облако"<br/>
                            Производство и монтаж натяжных потолков, жалюзи, роллет в Мурманске
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .call_back {
            -webkit-transform: rotate(-90deg); 
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
            position: fixed; 
            z-index: 999;
            left: 0px; 
            top: 50%; 
            margin-left: -118px; 
        }
    </style>
    <div class="call_back">
        <a href='https://vk.com/natyaznie_potolki_murmansk?w=app5708398_-32864631' target='_blank'>
            <span class="button measurementAsk" _system="www">Записаться на замер</span>
        </a>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter24147277 = new Ya.Metrika({ id: 24147277, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24147277" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <iframe id="YandexMetrikaWrapper" src="" width="1" height="1"></iframe>
</body>
</html>

