<nav class="main_menu">
    <div>
        <a href="/" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "home", "index")">Главная</a>
    </div>
    <div>
        <a href="/List/News" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "list", "list,item", "news")">Новости</a>
    </div>
    <div>
        <a href="/List/Discounts" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "list", "list,item", "discounts")">Акции</a>
    </div>
    <div>
        <a href="/Blinds" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "Blinds")">Жалюзи</a>
    </div>
    <div>
        <a href="/Rollets" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "Rollets")">Роллеты</a>
    </div>
    <div>
        <a href="/Gallery" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "Gallery")@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "list", "item", "gallery")">Фото &#9662;</a>
        <ul class="main_menu_submenu">
            <li>
                <a href="/List/Gallery/37">Жилыe помещения</a>
            </li>
            <li>
                <a href="/List/Gallery/41">Общественные</a>
            </li>
            <li>
                <a href="/List/Gallery/43">О компании</a>
            </li>
            <li>
                <a href="/List/Gallery/183">ВИДЕО</a>
            </li>
        </ul>
    </div>
    <div>
        <a href="/List/Feedback">Отзывы</a>
    </div>
    <div>
        <a href="/Home/Contacts" class="@CommonHtmlHelpers.MenuItemClass(ViewContext, "selected", "home", "contacts")">Контакты</a>
    </div>
</nav>

<div class="ya-site-form ya-site-form_inited_no" style="background-color: rgba(255,255,255,0.3) !important;" onclick="return {'action':'http://yandex.ru/sitesearch','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по natpotolki.ru','suggest':true,'target':'_self','tld':'ru','type':2,'usebigdictionary':true,'searchid':2201671,'webopt':false,'websearch':false,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':' поиск по сайту','input_placeholderColor':'#000000','input_borderColor':'#076f29'}"><form action="http://yandex.ru/sitesearch" method="get" target="_self"><input type="hidden" name="searchid" value="2201671" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти" /></form></div>
<style type="text/css">
    .ya-page_js_yes .ya-site-form_inited_no {
        display: none;
    }
</style>
<script type="text/javascript">(function (w, d, c) { var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement; if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) { e.className += ' ya-page_js_yes'; } s.type = 'text/javascript'; s.async = true; s.charset = 'utf-8'; s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js'; h.parentNode.insertBefore(s, h); (w[c] || (w[c] = [])).push(function () { Ya.Site.Form.init() }) })(window, document, 'yandex_site_callbacks');</script>