@{
    string phone = "8 (8152) 40-20-25";
    string phone_link = "+78152402025";
    string email = "oblako-51@yandex.ru";
    string vk = "https://vk.com/natyaznie_potolki_murmansk";
    string youtube = "https://www.youtube.com/user/potolkievrostroi";
    string instagram = "https://www.instagram.com/natpotolki_avalanz";
    string phone_manufacture = "8 (8152) 78-09-09";
    ViewBag.Title = "Index";
}
<nav class="navbar b-round-0 navbar-default navbar-fixed-top" id=home>
    <div class=container>
        <div class=navbar-header>
            <button class="tr-fast b-round-0 collapsed navbar-toggle navbar-toggle_main" type=button aria-expanded=false data-target=#navbar data-toggle=collapse>
                <span class=sr-only>Toggle navigation</span>
                <span class=icon-bar></span>
                <span class=icon-bar></span> <span class=icon-bar></span>
            </button>

            @*custom*@
            <div class="collapsed navbar-toggle" style="margin: 0px; line-height: 55px; font-weight: bold; float: right; padding-right:20px; background-color:transparent; border-color:transparent;" id="logo_phone">
                <a style="color: rgb(1, 136, 244);" href="tel:@phone_link">@phone</a>
            </div>
            <style>
                #logo_image img {
                    margin-top: -10px;
                }

                @@media screen and (max-width: 377px) {
                    #logo_image {
                        display:none;
                    }
                    #logo_phone {
                        float:left;
                    }
                }
            </style>
            @*custom*@

            <a href=#home class=navbar-brand data-scroll id="logo_image">
                <img alt="brand logo" src=images/logo_3.png class=img-responsive />
            </a>
        </div>
        <div class="collapse navbar-collapse" id=navbar>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=#overview data-scroll>компания</a></li>
                <li><a href=#features data-scroll>разделы</a></li>
                <li><a href=#photo data-scroll>фото</a></li>
                <li><a href=#details data-scroll>жалюзи</a></li>
                <li><a href=#pricing data-scroll>цены</a></li>
                <li><a href=#contacts data-scroll>контакты</a></li>
                <li><a href="tel:@phone_link" style="color: #0188f4; ">@phone</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner clearfix">
    <div class="text-center content p-20">
        <h1 style="text-transform: none;"><span>- ОБЛАКО -</span>натяжные потолки</h1>
        <p>завод по производству натяжных потолков, жалюзи, роллет производственной компании Евро-Строй. Более 15 лет мы делаем ваш дом уютнее!</p>
        <a href=# class="btn SendMessage">Письмо</a> <a href=#overview data-scroll class="btn start">Дальше...</a>
    </div>
</section>
<section class="ptb-80 overview" id=overview>
    <div class=container>
        <div class="wow fadeInDown section_title mb-50">
            <span class="mb-20 wt_mark">компания</span>
            <h2><span>компания</span></h2>
            <p>Современное автоматическое оборудование, расширенный ассортимент комплектующих, высококачественная пленка ведущих производителей Франции, Германии, Китая, срочное изготовление натяжных потолков и жалюзи - это лишь несколько факторов высокотехнологичного производства.</p>
        </div>
        <div class=row>
            <div class=col-sm-4>
                <div class="wow fadeInUp text-center content mb-30" data-wow-delay=.3s data-wow-offset=200>
                    <span class="mb-20 b-round-50 hvr icon"><i class=icon-clock></i></span>
                    <h3 class=mb-10 style="text-transform: none;">Срочное изготовление</h3>
                    <p class=mb-10>Потолок в течение 1 часа</p>
                </div>
            </div>
            <div class=col-sm-4>
                <div class="wow fadeInUp text-center content mb-30" data-wow-delay=.6s data-wow-offset=200>
                    <span class="mb-20 b-round-50 hvr icon"><i class=icon-tools2></i></span>
                    <h3 class=mb-10 style="text-transform: none;">Лучшие специалисты</h3>
                    <p class=mb-10>Качественный монтаж по согласованному с заказчиком графиком</p>
                </div>
            </div>
            <div class=col-sm-4>
                <div class="wow fadeInUp text-center content mb-30" data-wow-delay=.9s data-wow-offset=200>
                    <span class="mb-20 b-round-50 hvr icon"><i class=icon-shield></i></span>
                    <h3 class=mb-10 style="text-transform: none;">Поддержка</h3>
                    <p class=mb-10>Гарантийное и постгарантийное обслуживание</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-off pb-80 pt-80 features" id=features>
    <div class=container>
        <div class="wow fadeInDown section_title mb-50">
            <span class="mb-20 wt_mark">разделы</span>
            <h2>разделы</h2>
            <p>Инновационные технологии и комплектующие открывают неограниченные возможности для создания уникальных натяжных потолков. Ваш потолок может быть спаян из нескольких полотен различного цвета и фактуры, он может быть глянцевым или матовым, парящим или перфорированным, именно таким, каким хотите его видеть Вы.</p>
        </div>
        <div class=row>
            <div class="col-sm-6 col-md-4">
                <div class="content pt-70 pr-70 text-right">
                    <div class="wow inner fadeInLeft" data-wow-delay=.2s>
                        <h3 class=mb-10><a href="//natpotolki.ru/InstallationStages/?nomobile=true" target="_blank"><i class=icon-basic_elaboration_todolist_check></i>Этапы монтажа</a></h3>
                        <p class=mb-30>Монтаж потолка начинается с приглашения на замеры...
                    </div>
                    <div class="wow inner fadeInLeft" data-wow-delay=.6s>
                        <h3 class=mb-10><a href="//natpotolki.ru/ForDealers/?nomobile=true" target="_blank"><i class=icon-briefcase></i>Дилерам</a></h3>
                        <p class=mb-30>Приглашаем к сотрудничеству партнеров
                    </div>
                    <div class="wow inner fadeInLeft" data-wow-delay=.4s>
                        <h3 class=mb-10><a href="//natpotolki.ru/List/Vacancies/?nomobile=true" target="_blank"><i class=icon-user></i>Вакансии</a></h3>
                        <p class=mb-30>Для желающих работать в нашем дружном коллективе
                    </div>
                </div>
            </div>
            <div class="wow fadeInUp col-md-4 col-sm-6 hidden-sm" data-wow-delay=.2s>
                <a href="//natpotolki.ru/?nomobile=true" target="_blank"><img alt=mobile src=images/iphone.png class=img-responsive></a>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="content pt-70 pl-70 text-left">
                    <div class="wow fadeInRight inner" data-wow-delay=.2s>
                        <h3 class=mb-10><a href="//natpotolki.ru/List/News/?nomobile=true" target="_blank"><i class=icon-newspaper></i> Новости</a></h3>
                        <p class=mb-30>События, жизнь компании, пресс-релизы и новости партнеров и поставщиков
                    </div>
                    <div class="wow fadeInRight inner" data-wow-delay=.4s>
                        <h3 class=mb-10><a href="//natpotolki.ru/List/Discounts/?nomobile=true" target="_blank"><i class=icon-ecommerce_sales></i> Акции</a></h3>
                        <p class=mb-30>Скидки постоянным клиентам и прочие акции и спецпредложения
                    </div>
                    <div class="wow fadeInRight inner" data-wow-delay=.6s>
                        <h3 class=mb-10><a href="//natpotolki.ru/List/Feedback/?nomobile=true" target="_blank"><i class=icon-basic_message_multiple></i> Отзывы</a></h3>
                        <p class=mb-30>Отзывы о работе компании и комментарии сотрудников
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="grad pb-50 pt-50 starter">
    <div class=container>
        <div class=row>
            <div class="wow fadeInLeft col-sm-7 col-sm-offset-1">
                <h4 class="mb-10 text-uppercase">Lorem ipsum doler sit amet</h4>
                <p>Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
            </div>
            <div class=col-sm-4><a href=# class="wow fadeInRight btn b-round-0 mt-30 text-uppercase">download</a></div>
        </div>
    </div>
</section>*@
<section class="pt-70 grad pb-70 subscribe">
    <div class=container>
        <div class="wow fadeInDown section_title mb-30">
            <h2>оставьте заявку на звонок</h2>
            <p>укажите свой номер телефона и наши менеджеры сами свяжутся с вами
        </div>
        <form action=# class="text-center form-inline" method=post><input class="mb-20 wow fadeInLeft form-control" name=email placeholder="номер телефона"> <button class="wow fadeInRight btn blue">перезвоните мне</button></form>
    </div>
</section>
<section class="ptb-80 screenshots" id=photo>
    <div class=container>
        <div class="mb-20 wow fadeInDown section_title">
            <span class="mb-20 wt_mark">фото</span>
            <h2>фото</h2>
            <p>Наше портфолио, накопленное за многолетний опыт работы, включает в себя объекты разной сложности. Также вы можете увидеть еще больше фотографий в наших офисах, ведь все это сделано и разработано нашими специалистами.
        </div>
        <div class=kc_wrapper>
            <div class="wow fadeInUp kc-wrap" data-wow-delay=.3s>
                <div class=kc-item><a href="images/photo/8kANe-6qaRY.jpg" target="_blank"><img alt="" src=images/photo/8kANe-6qaRY.jpg></a></div>
                <div class=kc-item><a href="images/photo/JiNQzmgLujw.jpg" target="_blank"><img alt="" src=images/photo/JiNQzmgLujw.jpg></a></div>
                <div class=kc-item><a href="images/photo/LzHt775_n2U.jpg" target="_blank"><img alt="" src=images/photo/LzHt775_n2U.jpg></a></div>
                <div class=kc-item><a href="images/photo/ryWVkekjwMg.jpg" target="_blank"><img alt="" src=images/photo/ryWVkekjwMg.jpg></a></div>
                <div class=kc-item><a href="images/photo/sjn4LrkZw5s.jpg" target="_blank"><img alt="" src=images/photo/sjn4LrkZw5s.jpg></a></div>
                <div class=kc-item><a href="images/photo/twUn5ZuCQTU.jpg" target="_blank"><img alt="" src=images/photo/twUn5ZuCQTU.jpg></a></div>
                <div class=kc-item><a href="images/photo/z0x6KNuyUaY.jpg" target="_blank"><img alt="" src=images/photo/z0x6KNuyUaY.jpg></a></div>
            </div>
        </div>
        <p class="wow fadeInUp text-center" data-wow-delay=.2s>
            Больше фотографий смотрите в наших группах в социальных сетях
            <div class="wow fadeInUp text-center" data-wow-delay=.4s>
                <a href="@vk" class="btn blue b-round-0 mt-30" target="_blank">вконтакте</a>
                <a href="@instagram" class="btn blue b-round-0 mt-30" target="_blank">instagram</a>
            </div>
    </div>
</section>
<section class="bg-off pb-80 pt-80 details video">
    <div class=container>
        <div class=row>
            <div class=col-sm-6>
                <h2 class=mb-20>Смотрите наш <a href="https://www.youtube.com/user/potolkievrostroi" target="_blank">канал на Youtube</a> и вы узнаете:</h2>
                <ul>
                    <li class="mb-20">- опасен ли монтаж для вашей квартиры,
                    <li class="mb-20">- что будет со стенами и полом,
                    <li class="mb-20">- зачем нужна тепловая пушка,
                    <li class="mb-20">- почему иногда мы не рекомендуем устанавливать светильники...

                </ul>
            </div>
            <div class="wow fadeInRight col-lg-6 col-md-6 col-sm-6">
                <div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen height=315 src=https://www.youtube-nocookie.com/embed/GBlKCY-O7uo width=560></iframe></div>
            </div>
        </div>
    </div>
</section>
<section class="pb-80 pt-80 details" id=details>
    <div class=container>
        <div class=row>
            <div class="col-sm-6">
                <div class=img_container><img alt=app src=images/app-1.png class=img-responsive></div>
            </div>
            <div class=col-sm-6>
                <h2 class=mb-20>Жалюзи и рулонные шторы<br>завода Облако</h2>
                <p class=mb-20>Жалюзи давно стали неотъемлемой частью декора окон. Они легко и быстро регулируют световой поток, создавая комфортные условия в помещении, великолепно дополняют шторы и портьеры, создавая законченный облик вашего окна. </p>
                <a href="http://demyr.ru/" class="btn blue">перейти...</a>
            </div>
        </div>
    </div>
</section>
@*<section class="bg-off pb-80 pt-80 details">
    <div class=container>
        <div class=row>
            <div class="col-sm-6 pull-right">
                <div class=img_container><img alt=app src=images/app-1.png class=img-responsive></div>
            </div>
            <div class=col-sm-6>
                <h2 class=mb-20>Perfect for promoting<br>your mobile apps</h2>
                <p class=mb-20>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                <p class=mb-20>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.</p>
                <a href=# class="btn blue">read more</a>
            </div>
        </div>
    </div>
</section>*@
@*<section class="bg-off pb-80 pt-80 details">
    <div class=container>
        <div class=row>
            <div class="col-sm-6 pull-right">
                <div class=img_container><img alt=app src=images/layouts.png class=img-responsive></div>
            </div>
            <div class=col-sm-6>
                <h2 class=mb-20>Outstanding compatibility</h2>
                <p class=mb-20>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                <p class=mb-20>
                    Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.
                    <ul class=list-inline>
                        <li><a href=#><i class="fa fa-apple" aria-hidden=true></i></a>
                        <li><a href=#><i class="fa fa-android" aria-hidden=true></i></a>
                        <li><a href=#><i class="fa fa-windows" aria-hidden=true></i></a>
                    </ul>
            </div>
        </div>
    </div>
</section>*@
@*<section class="text-center bg-grad details get_app pb-80 pt-80">
    <div class=container>
        <h4>Get the app for android & iOS</h4>
        <h2 class="mb-20 m-0">Download Now</h2>
        <p class=mb-20>
            Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.
            <ul class=list-inline>
                <li><a href=#><img alt="app store" src=images/app.png class="img-responsive tr-mid"></a>
                <li><a href=#><img alt="app store" src=images/play.png class="img-responsive tr-mid"></a>
            </ul>
    </div>
</section>*@

@*<section class="bg-off ptb-80 feedback" id=feedback>
    <div class=container>
        <div class="wow fadeInDown section_title mb-40">
            <h2>clients feedback</h2>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="text-center item">
                <p class=comment>
                    <img alt=clients src=images/clients/1.jpg class="img-responsive center-block b-round-50 mb-30"> Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
                    <h4 class=text-uppercase>richard marks</h4>
                <p class=text-capitalize>creative director, apple
            </div>
            <div class="text-center item">
                <p class=comment>
                    <img alt=clients src=images/clients/2.jpg class="img-responsive center-block b-round-50 mb-30"> Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
                    <h4 class=text-uppercase>richard marks</h4>
                <p class=text-capitalize>creative director, apple
            </div>
            <div class="text-center item">
                <p class=comment>
                    <img alt=clients src=images/clients/3.jpg class="img-responsive center-block b-round-50 mb-30"> Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
                    <h4 class=text-uppercase>richard marks</h4>
                <p class=text-capitalize>creative director, apple
            </div>
        </div>
    </div>
</section>*@

<section class="pt-70 grad pb-70 subscribe">
    <div class=container>
        <div class="wow fadeInDown section_title mb-30">
            <h2>оставьте заявку на звонок</h2>
            <p>укажите свой номер телефона и наши менеджеры сами свяжутся с вами
        </div>
        <form action=# class="text-center form-inline" method=post><input class="mb-20 wow fadeInLeft form-control" name=email placeholder="номер телефона"> <button class="wow fadeInRight btn blue">перезвоните мне</button></form>
    </div>
</section>

<section class="ptb-80 pricing" id=pricing>
    <div class=container>
        <div class="wow fadeInDown section_title mb-50">
            <span class="mb-20 wt_mark">Цены</span>
            <h2>Цены</h2>
            <p>натяжные потолки "под ключ"
        </div>
        <div class=row>
            <div class="col-sm-12 col-md-4">
                <ul class="text-center pricing tr-mid">
                    <li class=heading>Кухня
                    <li class=price><span style="text-transform: none;">6 690 р.</span>8 кв. м
                    <li>6 углов
                    <li>2 трубы
                    <li>люстра
                    <li>маскировочная лента
                    <li><a href="natpotolki.ru/List/Discounts/?nomobile=true" class="btn blue" target="_blank">скидки</a>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="text-center pricing tr-mid">
                    <li class=heading>Комната
                    <li class=price><span style="text-transform: none;">8 290 р.</span>12 кв. м
                    <li>4 угла
                    <li>2 трубы
                    <li>люстра
                    <li>маскировочная лента
                    <li><a href="natpotolki.ru/List/Discounts/?nomobile=true" class="btn blue" target="_blank">скидки</a>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="text-center pricing tr-mid">
                    <li class=heading>Комната
                    <li class=price><span style="text-transform: none;">11 150 р.</span>17 кв. м
                    <li>6 углов
                    <li>2 трубы
                    <li>люстра
                    <li>маскировочная лента
                    <li><a href="natpotolki.ru/List/Discounts/?nomobile=true" class="btn blue" target="_blank">скидки</a>
                </ul>
            </div>
        </div>
    </div>
</section>
@*<section class="bg-off ptb-80 blog" id=blog>
    <div class=container>
        <div class="wow fadeInDown section_title mb-80">
            <span class="mb-20 wt_mark">blog post</span>
            <h2>blog post</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text of the printing and typesetting industry industry's standard.
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item bg-white">
                <a href=# class=img_container><img alt="blog image" src=images/blog/1.jpg class=img-responsive></a>
                <div class="content p-20">
                    <h3><a href=# class=tr-fast>winter morning</a></h3>
                    <h6 class=mb-20>3 hours ago<a href=# class="tr-fast ml-10 pl-10">5 comments</a></h6>
                    <p class=mb-20>Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</p>
                    <a href=# class=tr-fast>read more <i class=icon-arrows_slim_right></i></a>
                </div>
            </div>
            <div class="item bg-white">
                <a href=# class=img_container><img alt="blog image" src=images/blog/2.jpg class=img-responsive></a>
                <div class="content p-20">
                    <h3><a href=# class=tr-fast>bull head</a></h3>
                    <h6 class=mb-20>3 hours ago<a href=# class="tr-fast ml-10 pl-10">5 comments</a></h6>
                    <p class=mb-20>Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</p>
                    <a href=# class=tr-fast>read more <i class=icon-arrows_slim_right></i></a>
                </div>
            </div>
            <div class="item bg-white">
                <a href=# class=img_container><img alt="blog image" src=images/blog/3.jpg class=img-responsive></a>
                <div class="content p-20">
                    <h3><a href=# class=tr-fast>walk alone</a></h3>
                    <h6 class=mb-20>3 hours ago<a href=# class="tr-fast ml-10 pl-10">5 comments</a></h6>
                    <p class=mb-20>Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</p>
                    <a href=# class=tr-fast>read more <i class=icon-arrows_slim_right></i></a>
                </div>
            </div>
            <div class="item bg-white">
                <a href=# class=img_container><img alt="blog image" src=images/blog/2.jpg class=img-responsive></a>
                <div class="content p-20">
                    <h3><a href=# class=tr-fast>bull head</a></h3>
                    <h6 class=mb-20>3 hours ago<a href=# class="tr-fast ml-10 pl-10">5 comments</a></h6>
                    <p class=mb-20>Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor.</p>
                    <a href=# class=tr-fast>read more <i class=icon-arrows_slim_right></i></a>
                </div>
            </div>
        </div>
    </div>
</section*@>
<section class="bg-off ptb-80" id=contacts>
    <div class=container>
        <div class="wow fadeInDown section_title mb-80">
            <span class="mb-20 wt_mark">Контакты</span>
            <h2>Контакты</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class=img_container>
                    <script src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&amp;width=100%&amp;height=320" type="text/javascript" charset="utf-8"></script>
                </div>
                <div class="content p-20 text-center">
                    <h3><a href=# class=tr-fast>салон Евро-Строй</a></h3>
                    <h6>@phone<a href="mailto:@email" class="tr-fast ml-10 pl-10">@email</a></h6>
                    <p>г. Мурманск, ул. Буркова/Книповича, 11/18</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class=img_container>
                    <script src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=0nvDlixzVWmhHYBRxgDAUH4doUgSeUR9&amp;width=100%25&amp;height=320" type="text/javascript" charset="utf-8"></script>
                </div>
                <div class="content p-20 text-center">
                    <h3><a href=# class=tr-fast>завод Облако</a></h3>
                    <h6>@phone_manufacture</h6>
                    <p>г. Мурманск, ул. Героев Рыбачьего, строение 16</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center tr-mid quform-outer">
    <form action=quform/process.php class=quform method=post enctype=multipart/form-data>
        <div class="p-30 quform-inner">
            <div class=msg_icon><span class=floating><i class="fa fa-envelope"></i></span></div>
            <h3 class=quform-title>Напишите нам</h3>
            <p class=mb-30>
                Отправьте сообщение, используя форму ниже.
                <div class=quform-elements>
                    <div class="quform-group-alignment-left quform-group-style-plain quform-group-wrap">
                        <div class=quform-group-elements>
                            <div class=row>
                                <div class=col-sm-12>
                                    <div class=quform-spacer>
                                        <div class=quform-input><input class=form-control name= name placeholder="Имя" id= name></div>
                                    </div>
                                </div>
                                <div class=col-sm-12>
                                    <div class=quform-spacer>
                                        <div class=quform-input><input class=form-control name=email placeholder="Email" id=email></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 quform-element quform-element-textarea quform-huge">
                                    <div class=quform-spacer>
                                        <div class=quform-input><textarea class=form-control id=message name=message placeholder="Сообщение" style=height:130px></textarea></div>
                                    </div>
                                </div>
                                <div class="text-center col-sm-12 quform-submit">
                                    <div class=quform-submit-inner><button class=btn type=submit>отправить</button></div>
                                    <div class=quform-loading-wrap><span class=quform-loading></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </form>
</div>
<section class="pt-70 grad pb-70 subscribe">
    <div class=container>
        <div class="wow fadeInDown section_title mb-30">
            <h2>оставьте заявку на звонок</h2>
            <p>укажите свой номер телефона и наши менеджеры сами свяжутся с вами
        </div>
        <form action=# class="text-center form-inline" method=post><input class="mb-20 wow fadeInLeft form-control" name=email placeholder="номер телефона"> <button class="wow fadeInRight btn blue">перезвоните мне</button></form>
    </div>
</section>
<footer class="text-center ptb-80">
    <div class=container-fluid>
        <img alt=logo src=images/logo_2.png class="img-responsive center-block">
        <ul class=list-inline>
            <li><a href=#overview data-scroll>компания</a></li>
            <li><a href=#features data-scroll>разделы</a></li>
            <li><a href=#photo data-scroll>фото</a></li>
            <li><a href=#details data-scroll>жалюзи</a></li>
            <li><a href=#pricing data-scroll>цены</a></li>
            <li><a href=#contacts data-scroll>контакты</a></li>

            <li><a href="//natpotolki.ru/?nomobile=true" data-scroll style="color: #0188f4; ">основной сайт</a>
            <li class=social>
                <ul class=list-inline>
                    <li><a href="@vk" target="_blank">вконтакте</a>
                    <li><a href="@youtube" target="_blank">youtube</a>
                    <li><a href="@instagram" target="_blank">instagram</a>
                </ul>
        </ul>
    </div>
</footer>
