@using MvcApplication4_natpot.Models
@{
    List<Post> Posts = (List<Post>)ViewData["Posts"];
    Category Category = (Category)ViewData["Category"];
    ViewBag.Title = "Новости - «ЕВРО-СТРОЙ»";
	ViewBag.MetaKeywords = "новости ЕВРО-СТРОЙ";
    ViewBag.MetaDescription = "Новости номпании «ЕВРО-СТРОЙ»";

    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<script type="text/javascript">
    var pagenum = 0;
    var categoryname = "@Category.Name";

    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                more();
            }
        });
    });

    function more()
    {
        $.post("/List/" + categoryname + "/?Page=" + (pagenum + 1),
              {
              },
              function (data) {
                  if (data.Result) {
                      $(data.Object).each(function () {
                          if ($("#" + this.Id).length == 0) {
                              newrow = $(".n_list").last().clone();
                              newrow.attr("id", this.Id);
                              newrow.find(".n_date").html(this.DateString);
                              newrow.find(".n_title a").html(this.Title).attr("href", "/List/News/" + this.Id);
                              newrow.find(".body").html(this.Description);
                              newrow.find(".more").attr("href", "/List/News/" + this.Id);
                              newrow.appendTo(".article");
                          }
                      })
                      pagenum++;
                  }
              }, "json");
    }
</script>

<article class="article clearfix">

    <h1 class="a_title">Новости</h1>

    @foreach (Post post in Posts) {
        <div class="n_list" id="@post.Id">
            <div class="n_title">
                <span class="n_date">@post.Date.ToString("dd.MM.yyyy"):</span>&nbsp;
                <a href="/List/News/@post.Id">@post.Title</a>
            </div>
            <div class="body">
                @Html.Raw(post.Description)
            </div>
            <a href="/List/News/@post.Id" class="more">подробнее...</a>
            <div class="clear"></div>
        </div>
    }
    
</article>
