@using MvcApplication4_natpot.Models
@{
    List<Post> Posts = (List<Post>)ViewData["Posts"];
    Category Category = (Category)ViewData["Category"];
    ViewBag.Title = "Отзывы о компании «ЕВРО-СТРОЙ»";
	ViewBag.MetaKeywords = "отзывы ЕВРО-СТРОЙ";
    ViewBag.MetaDescription = "Отзывы о нашей компании «ЕВРО-СТРОЙ»";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<link rel="stylesheet" href="/Content/Styles/guestbook/guestbook.css">

<script src="/Scripts/Forms/Feedback.js"></script>

<script type="text/javascript">
    var pagenum = 0;
    var categoryname = "@Category.Name";

    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                more();
            }
        });
    });

    function more()
    {
        $.post("/List/" + categoryname + "/?Page=" + (pagenum + 1),
              {
              },
              function (data) {
                  if (data.Result) {
                      $(data.Object).each(function () {
                          if ($("#" + this.Id).length == 0) {
                              newrow = $(".mess").last().clone();
                              newrow.attr("id", this.Id);
                              var rowdate = newrow.find(".title span").clone().html(this.DateString);
                              newrow.find(".title").html(this.Title).append(rowdate);
                              newrow.find(".body").html(this.Description);
                              newrow.appendTo("#guestbook");
                          }
                      })
                      pagenum++;
                  }
              }, "json");
    }
</script>

<article class="article clearfix">
    
    <h1 class="a_title">@Category.Translate</h1>

    <div class="clear"></div>

    <div class="wpcf7" id="FeedbackForm" style="width:100%; margin: 20px 0 50px 0 !important;">
        <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
            <span class="wpcf7-form-control-wrap your-message">
                <textarea name="clientMessage" rows="5" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Оставьте Ваш отзыв"></textarea>
            </span>
            <span class="your-name">
                <input type="text" name="clientName" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя" />
            </span>
            <span class="your-phone">
                <input type="text" name="clientPhone" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш телефон" />
            </span>
            <span class="your-email">
                <input type="text" name="clientEmail" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш e-mail" />
            </span>
            <input type="button" value="Отправить" class="wpcf7-form-control FeedbackFormSubmit" style="width:30%; float:right;" />
        </form>
    </div>

    <div class="clear"></div>

    <div id="guestbook">
        @foreach (Post post in Posts)
        {
            <div class="mess" id="@post.Id">
                <div class="title">
                    @post.Title
                    <span>@post.Date.ToString("dd.MM.yyyy"):</span>
                </div>
                <div class="body">
                    @Html.Raw(post.Description)
                </div>
            </div>
        }
    </div>

</article>
