@using MvcApplication3.Models
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/SiteLayout.cshtml";
    List<Post> Posts = (List<Post>)ViewData["Posts"];
    Category Category = (Category)ViewData["Category"];
}

<style>
    a[href*='jpg'], a[href*='png'] {
        background: none;
        padding: 5px 0 5px 0;
    }
</style>

<script type="text/javascript">
    var pagenum = 0;
    var categoryname = "@Category.Name";

    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                more();
            }
        });
    });

    function more()
    {
        $.post("/Blog/?Page=" + (pagenum + 1),
              {
              },
              function (data) {
                  if (data.Result) {
                      $(data.Object).each(function () {
                          if ($("#" + this.Id).length == 0) {
                              newrow = $(".n_list").last().clone();
                              newrow.attr("id", this.Id);
                              newrow.find(".n_date").html(this.DateString);
                              newrow.find(".n_title a").html(this.Title).attr("href", "/Blog/Item/" + this.Id);
                              newrow.find(".body").html(this.Description);
                              newrow.find(".more").attr("href", "/Blog/Item/" + this.Id);
                              newrow.appendTo(".article");
                          }
                      })
                      pagenum++;
                  }
              }, "json");
    }
</script>

<div class="content_body">
    <div class="OnlyText article">
        <h2 style="padding-top:20px;">Вопросы и ответы по установке натяжного потолка.</h2>
        <h4>1. Какую фактуру выбрать?</h4>
        <p style="text-align:justify">Фактуры натяжных потолков бывают самыми разнообразными: глянцевыми - с зеркальным отражением, матовыми, сатиновыми, текстурными. Полотна имеют одинаковую плотность, и не отличаются качественными характеристиками, одинаково просты в уходе, и отлично подходят для любых помещений. Выбор фактуры зависит только от ваших вкусовых предпочтений!</p>

        <h4>2. Пыль при установке натяжного потолка.</h4> 
        <p style="text-align:justify">Пыль при установке натяжного потолка неизбежна. Даже работа современными перфораторами с пылеотсосом не в состоянии обеспечить 100% отсутствие монтажной пыли. Сверление стен производится через каждые 10-15 см, по всему периметру помещения, поэтому его следует максимально освободить или накрыть предметы интерьера защитной пленкой.</p>

        <h4>3. Нужно ли выносить мебель из помещения?</h4> 
        <p style="text-align:justify">Да, нужно. Так как сверление производится по периметру помещения, то, соответственно, к стенам надо обеспечить доступ. Поэтому, если у вас нет возможности вынести мебель, ее необходимо хотя бы отодвинуть от стен к центру комнаты. Расстояние представить несложно - туда должна поместиться как минимум стремянка. От верхнего края мебели тоже должно оставаться расстояние не менее 30 см. К моменту установки необходимо убрать из помещения все перемещаемые предметы - бытовую технику, домашние цветы, животных и т.п. Учитывайте, что при натяжке, полотно разогревается, поэтому все, что боится температурного воздействия, следуют убрать, либо закрыть укрывными материалами. Позаботьтесь об этом заранее, чтобы бригаде монтажников не пришлось ждать, пока вы в суматохе пытаетесь вынести из комнаты вазы или телевизор. Помните, что монтаж потолка - этап ремонта. Случайно упавший сверху молоток может повредить не вынесенные предметы.</p>

        <h4>4. Можно ли повредить внутреннюю проводку?</h4>
        <p style="text-align:justify">Повреждение скрытой проводки случается редко, однако полностью исключить такие ситуации нельзя. Чаще всего проблемы возникают в коридорах. Прибор, способный определить наличие проводки, имеет допустимую погрешность в 5 см, поэтому с точностью до миллиметра определить наличие проводов мы не можем. Ситуация с повреждением проводки не является браком монтажа, но поврежденная проводка восстанавливается нашими силами. Если вы знаете, где проходит проводка, и сверлиться там нельзя, обязательно сообщите об этом мастерам! Это сэкономит и наше, и ваше время. То же самое касается возможных водных коммуникаций.</p>

        <h4>5. Что следует знать, если у вас ветхие стены.</h4> 
        <p style="text-align:justify">Дома старых годов постройки зачастую имеют дефекты строительства. Если у вас осыпаются стены, с мастерством монтажника это не имеет никакой связи. В стенах встречаются пустоты, арматура, и другие трудности, затрудняющие монтаж. Мастер не в состоянии определить эти дефекты, пока не начнется сверление. Поэтому, если ваши стены далеки от идеала, будьте готовы к тому, что может потребоваться дополнительное укрепление стен для проведения работ по монтажу натяжного потолка. Работы по кафельной плитке, керамограниту могут увеличивать время монтажа.</p>

        <h4>6. Планируете гипсокартон?</h4> 
        <p style="text-align:justify">Если у вас будут искусственно возведенные стены, перегородки, короба из гипсокартона, необходимо предусмотреть за ними деревянные закладные не менее 5 см в высоту. Поверхность гипсокартона должна быть прочно закреплена, и выдерживать нагрузку не менее 60 кг/мп. Если эти условия не соблюдены, то также может потребоваться дополнительное усиление конструкции. Главное усилие на натяжку распределяется именно на стены - помните об этом!</p>

        <h4>7. Требуется ли подготовка несущего потолка?</h4> 
        <p style="text-align:justify">Специальной подготовки не требуется, однако следует учесть, что срок службы натяжного потолка может составить 20 и более лет. За это время с несущего потолка может начать отваливаться несмытая побелка, могут упасть наклеенные обои, отвалиться плитка и всё это будет скапливаться за полотном. Поэтому поверхность несущего потолка лучше избавить от осыпающихся покрытий перед установкой натяжного потолка. Второй очень важный момент - если в вашем проекте за полотном планируется подсветка, то несущий потолок необходимо выровнять, загрунтовать и зашпатлевать, иначе все неровности будут давать тени на полотно.</p>

        <h4>8. Как правильно? Клеить обои до или после?</h4>
        <p style="text-align:justify">Идеальный монтаж - тот, где помещение абсолютно пустое. По сути, лучше сначала производить грязные работы, потом клеить обои, чтобы не было риска повредить их в момент монтажа. Если обои у вас уже есть, и вы не планируете их менять, то лучше закрыть их специальными защитными пленками фирмы Stayer или фирмы Masko. Обе пленки отлично зарекомендовали себя во время проведения ремонтных и монтажных работ. Купить защитную пленку можно в нашем офисе на ул. Буркова, 11/18. Также можно предусмотреть двухэтапную установку натяжного потолка - сначала сверление, потом поклейка обоев, потом уже натяжка. Обои без проблем заведутся за край багета, что позволит сделать ровный стык. Менеджеры компании продемонстрируют вам на наглядных материалах лучшие варианты исполнения этого вида работы. Двухэтапная установка более безопасная, ведь она исключает риск повреждения полотна. Маскировочную ленту надо ставить на поклеенные обои. Обратите внимание, что работу по выравниванию стен необходимо делать до установки полотна</p>

        <h4>9. Уход за натяжными потолками.</h4>
        <p style="text-align:justify">Пленка антистатична, не притягивает пыль, не требует уборки чаще, чем раз в год. Протирать полотно можно мягкой тканью, если полотно глянцевое, следует выбирать ткань, не оставляющую разводов. Уход за глянцевым полотном аналогичен уходу за стеклом. Вашим надежным помощником при уборке станет средство для обработки натяжных потолков «Облако»! Подробную информацию и рекомендацию можно получить у менеджеров компании.</p>

        <h4>10. Можно ли порвать потолок?</h4>
        <p style="text-align:justify">Да, можно. Пленка очень эластична, отлично растягивается, но боится острых предметов. Поэтому лучше не экспериментировать и обращаться с потолком деликатно, не пытаться его проткнуть. Если вы все-таки порвали потолок, обратитесь к нам. Мы приложим все усилия, чтобы «вылечить» ваш потолок.</p>

        <h4>11. Потолок + встроенный шкаф.</h4>
        <p style="text-align:justify">Что сначала? Сначала ставим шкаф. При этом необходимо предусмотреть закладную для крепления высотой 7-10 см, в зависимости от выбора освещения. Замеры производятся после установки шкафа.</p>

        <h4>12. Сколько сантиметров "съест" натяжной потолок?</h4>
        <p style="text-align:justify">Чаще всего при установке потолка необходимо использовать 5-7 см от несущего потолка. Это будет зависеть от выбранного вами освещения. Наличие внутренней подсветки может опустить потолок чуть ниже. Использование инновационных систем, таких как парящий профиль, к примеру, позволяет использовать оптимальное расстояние – около 5 см. Двухуровневые потолки занимают примерно 15-20 см от несущего потолка до нижней части конструкции.</p>


        @foreach (Post post in Posts)
        {
            <div class="n_list" id="@post.Id">
                <h4 class="n_title">
                    <span class="n_date">@post.Date.ToString("dd.MM.yyyy"):</span>&nbsp;
                    <a href="/Blog/Item/@post.Id">@post.Title</a>
                </h4>
                <p>
                    <span class="body">@Html.Raw(post.Description)&nbsp;</span><a href="/Blog/Item/@post.Id" class="more">подробнее...</a>
                </p>
            </div>
        }
    </div>
</div>
<div class="clearfix" style="margin-bottom:20px;"></div>

<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=5ZPSIHkH223NHzsLY7KUIr4yedi7drrI&height=350"></script>
